    <div class="ion-page" id="main-content">
        <ion-header>
        </ion-header>
        <ion-content class="ion-padding">
            <h1>Page 404</h1>
            <div class="Boton">
                <ion-button (click)="vistaLogin()">Volver</ion-button>
                <br>
                <br>
                <br>
                <br>
            </div>
            <ion-img src="../../assets/icon/AutoAnimado.png" class="Logo"></ion-img>
            <div class="caja">
                <ion-input [(ngModel)]="query" type="text" placeholder="Query"> </ion-input>
                <ion-button class="botonCaja">Enviar</ion-button>
            </div>
            
        </ion-content>  

    </div>
