.container {
  margin-top: 10em;
  margin-left: 1em;
  margin-right: 1em;
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.certificacion-p {
  border: 1px solid;
  padding: 1em;

  p {
    margin-bottom: 1em;
  }

  .certificacion-img {
    position: relative;

    img {
      max-width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
