  <div class="container">
    <div class="certificacion-p">
      <div class="certificacion-img">
        <img src="" alt="Certificación" />
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id
        suscipit justo, non luctus quam. Sed euismod, nulla a facilisis
        tincidunt, ipsum est mollis felis, vel bibendum turpis felis nec odio.
        Quisque eget gravida elit. Nulla facilisi. Sed non metus nec augue
        ullamcorper dignissim. Vivamus vehicula justo ac est cursus, at
        tincidunt dolor feugiat. Proin et nunc eget justo scelerisque
        ullamcorper. Fusce ultricies posuere felis, ut scelerisque neque
        facilisis vel. Aliquam eu neque nec turpis scelerisque blandit vel non
        ipsum. Mauris consequat venenatis orci a aliquam. Integer at augue vitae
        risus volutpat elementum. Vivamus efficitur urna ut tincidunt tincidunt.
        Integer semper sagittis ultricies. Donec venenatis nulla a neque
        facilisis, ac fermentum felis euismod.
      </p>
    </div>
  </div>
