<ion-header [translucent]="true">
  
  <ion-toolbar>
    <ion-title>Recuperar Contraseña</ion-title>
    
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div class="titulo">
      <br>
      <h1>TeLlevoApp</h1>
      <br>
      <ion-img src="../../assets/icon/Logo.png">Logo aplicación</ion-img>
  </div>
  <div class="cuerpo">
    <ion-label>Ingresa el correo con el que registraste tu cuenta</ion-label>
    <ion-input [(ngModel)]="correoElectronico" placeholder=" correo@tellevoapp.cl"></ion-input>
    <ion-label>Al ingresar tu correo, se te será enviado un link de recuperación.</ion-label>
    <br>
    <br>
    <br>
    <button mat-raised-button color="primary" (click)="mostrarMensajeError()" class="inicio">Recuperar Contraseña</button>
    <a [routerLink]="['/login']" >¿Quieres volver?</a>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>App desarrollada por: Scarlett Socías y Mateo Araneda</ion-title>
  </ion-toolbar>
</ion-footer>