
<ion-menu contentId="main-content">
  <ion-header [translucent]="true">
      <ion-toolbar>
          <ion-title>Menu</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-list>

          <ion-item [routerLink]="[('/home')]" >Inicio</ion-item>
        <ion-nav-link router-direction="forward" [component]="">
          <ion-item [routerLink]="[('/')]" >Test</ion-item>
        </ion-nav-link>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary">
      </ion-buttons>
      <ion-buttons side="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
  <div class="container">
      <ion-img src="../../assets/icon/Logo.png">Logo aplicación</ion-img>
      <ion-label>Usuario</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
      <ion-label>Contraseña</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
      <ion-button (click)="FunciondeValidacion()">Iniciar Sesión</ion-button>
      <ion-nav-link router-direction="forward" [component]="homePage">
        <ion-button>¿Olvidaste tu contraseña?</ion-button>
      </ion-nav-link>
    </div>
  </ion-content>
</div>
