$color-principal: #522b5b;
$color-secundario: #854f6c;
$color-terciario: #dfb6b2;
$letras: #fbe4d8;
$color-cuartiario: #ffffff;

ion-header{
    color: $color-principal;
}


ion-content {
    --background: radial-gradient(circle at 50% 38.83%, #ef808a 0, #e0788a 10%, #ce6f88 20%, #b86582 30%, #a05a79 40%, #854e6c 50%, #6b425e 60%, #563850 70%, #442f44 80%, #35283a 90%, #2a2231 98%);
    
    .titulo{
        color: $color-secundario;
        text-align: center;
        justify-content: center;
        margin: 0.1em;
    }
    .titulo h1, h6{
        color: $color-cuartiario;
    }

    .inicioSesion{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    ion-input{
        justify-content: center;
        border: 1px solid $color-terciario; 
        max-width: 22em;
        margin: 1em;
        border-radius: 0.2em;
        
    }
    ion-label{
        display: flex;
        text-align: center;
        justify-content: center;
        color: $color-cuartiario;
    }

    .inicio {
        color:$color-cuartiario;
        max-width: 22em;
        margin-left: 1em;
    }
    
    #container a {
        text-decoration: none;
      }

}
