
ion-content{
    
    div{
        margin-top: 3em;
    }
    --background: rgb(17,32,56);
    --background: linear-gradient(180deg, rgba(17,32,56,1) 0%, rgba(49,79,136,0.7) 30%, rgba(133,124,182,0.72) 63%, rgba(57,53,78,1) 100%);
    margin-top: 1em;
    
}