  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>TeLlevoApp</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <div class="titulo">
      <br>
      <h1>TeLlevoApp</h1>
      <br>
      <ion-img src="../../assets/icon/Logo.png">Logo aplicación</ion-img>
      <h1>Bienvenido!</h1>
  </div>
  <div class="inicioSesion">
      <ion-label>Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
      <ion-label>Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
      <button mat-raised-button color="primary" (click)="login()" class="inicio">Inicia Sesión</button>
      <br>
      <a href="/recuperar-contrasenna" (click)="CambioVentanaRecuperar()" class="registro">¿Olvidaste tu contraseña?</a>
    </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>App desarrollada por: Scarlett Socías y Mateo Araneda</ion-title>
  </ion-toolbar>
</ion-footer>
