<ion-header>
  <ion-toolbar>
    <ion-title>Datos del Usuario</ion-title>
  </ion-toolbar>
</ion-header>
<div>

  <div class="container">
    <div class="perfil-container">
      <div class="perfil-image">
        <img src="" alt="Imagen de perfil" />
      </div>
      <div class="perfil-detalles">
        <ion-label>Nombre:</ion-label>
        <br /><br /><ion-label>Apellido:</ion-label> <br /><br /><ion-label
        >Carrera:</ion-label
        >
        <br /><br /><ion-label>Sede:</ion-label> <br /><ion-button
        >Modificar datos</ion-button
        >
      </div>
    </div>
  </div>
</div>
