$color-principal: #522b5b;
$color-secundario: #854f6c;
$color-terciario: #dfb6b2;
$letras: #fbe4d8;
$color-cuartiario: #ffffff;

ion-content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --background: rgb(17,32,56);
    --background: linear-gradient(180deg, rgba(17,32,56,1) 0%, rgba(49,79,136,0.7) 30%, rgba(133,124,182,0.72) 63%, rgba(57,53,78,1) 100%);

    ion-input{
        margin-top: 1em;
        margin-bottom: 1em;
        border-bottom: solid  1px $color-terciario;
        max-width: 26em;
        
    }       
    ion-button{
        color: $letras;
        margin: 1em;
    }


    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-height: auto;
        text-align: center;
        }
    
    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 1em;
        border: dotted 0.1em black;
        max-width: 32em;
    }
}