<ion-content>
  <div class="container">
    <ion-img src="../../assets/icon/LogoRosado.png" class="Logo">Logo</ion-img>
    <ion-label>Correo Electronico</ion-label>
    <ion-input [(ngModel)]="correoElectronico" placeholder="correo@duocuc.cl"></ion-input>
    <ion-button (click)="validacionCorreo()" >Recuperar contraseña</ion-button>
    <ion-button (click)="vistaLogin()" >¿Quieres volver?</ion-button>
    <ion-label>Ingresa el tu correo con el que tienes registrada tu cuenta.</ion-label>
  </div>
</ion-content>