<app-menu>
</app-menu>
<!-- <ion-header [translucent]="true">
  <ion-toolbar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  
  <div class="inicioSesion">
    <ion-label>Usuario</ion-label>
    <ion-input type="text" ></ion-input>
    <ion-label>Contraseña</ion-label>
    <ion-input type="password"></ion-input>
    <button mat-raised-button color="primary" class="inicio">Inicia Sesión</button>
    <br>
    <a [routerLink]="[('/blanco')]"  class="registro">¿Olvidaste tu contraseña?</a>
  </div>
</ion-content> -->

<ion-footer>
  <ion-toolbar>
    <ion-title>App desarrollada por: Scarlett Socías y Mateo Araneda</ion-title>
    </ion-toolbar>
  </ion-footer>
  