
<ion-menu contentId="main-content">
  <ion-header [translucent]="true">
      <ion-toolbar>
          <ion-title>Contenido</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content [fullscreen]="true">
    <ion-list>
      <ion-item [routerLink]="[('/home')]" >Inicio</ion-item>
      <ion-item [routerLink]="[('/login')]" >Login</ion-item>
      <ion-item [routerLink]="[('/')]" >Registro</ion-item>
      <ion-item [routerLink]="[('/')]" >FAQ</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-label>Bienvenido, {{ this.username }} </ion-label>
          <ion-button>
            <ion-icon slot="icon-only" name="person-circle"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon slot="icon-only" name="search"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="primary">
        </ion-buttons>
          <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
      </ion-toolbar>
  </ion-header>
</div>

