$color-principal: #522b5b;
$color-secundario: #854f6c;
$color-terciario: #dfb6b2;
$letras: #fbe4d8;
$color-cuartiario: #ffffff;

// 1 em equivale a 16px

ion-content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --background: linear-gradient(180deg, rgba(17,32,56,1) 0%, rgba(49,79,136,0.7) 30%, rgba(133,124,182,0.72) 63%, rgba(57,53,78,1) 100%);

    ion-label{
        margin: 1em;
    }
    
    .contenedor{
        margin-top: 6em;
    }

}    
